/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/**
 * modules/mixins
 * ---
 */
/* background-image */
/* flexbox */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/*
@font-face {
  font-family: "Font-Name";
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-name.woff") format("woff"),
    url("fonts/font-name.ttf") format("truetype"),
    url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/
@font-face {
  font-family: "Norwester";
  src: url("../fonts/norwester-webfont.eot");
  src: url("../fonts/norwester-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/norwester-webfont.woff") format("woff"), url("../fonts/norwester-webfont.ttf") format("truetype"), url("../fonts/norwester-webfont.svg#Norwester") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoCondensed-Regular-webfont.eot");
  src: url("../fonts/RobotoCondensed-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Regular-webfont.woff") format("woff"), url("../fonts/RobotoCondensed-Regular-webfont.ttf") format("truetype"), url("../fonts/RobotoCondensed-Regular-webfont.svg#Roboto") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoCondensed-Italic-webfont.eot");
  src: url("../fonts/RobotoCondensed-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Italic-webfont.woff") format("woff"), url("../fonts/RobotoCondensed-Italic-webfont.ttf") format("truetype"), url("../fonts/RobotoCondensed-Italic-webfont.svg#Roboto") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "Roboto";
  src: url("../RobotoCondensed-Bold-webfont.eot");
  src: url("../RobotoCondensed-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../RobotoCondensed-Bold-webfont.woff") format("woff"), url("../RobotoCondensed-Bold-webfont.ttf") format("truetype"), url("../RobotoCondensed-Bold-webfont.svg#Roboto") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../RobotoCondensed-BoldItalic-webfont.eot");
  src: url("../RobotoCondensed-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../RobotoCondensed-BoldItalic-webfont.woff") format("woff"), url("../RobotoCondensed-BoldItalic-webfont.ttf") format("truetype"), url("../RobotoCondensed-BoldItalic-webfont.svg#Roboto") format("svg");
  font-weight: bold;
  font-style: italic; }
/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */
*,
*:after,
*:before {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
  height: 100%; }

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 140%;
  line-height: 1.5;
  color: #444;
  background-color: #fff;
  height: 100%;
  padding: 0;
  margin: 0; }

img {
  max-width: 100%;
  vertical-align: middle; }

a {
  color: #444;
  text-decoration: none; }
  a:focus, a:hover {
    text-decoration: underline; }

input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit; }

::selection {
  background-color: #04A4CC;
  color: #fff;
  text-shadow: none; }

/**
 * partials/wordpress
 * ---
 * Wordpess core classes
 */
/**
 * Alignment
 */
.alignnone {
  margin: 5px 0 15px 0; }

.aligncenter {
  display: block;
  margin: 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 15px 0; }

.alignleft {
  float: left;
  margin: 5px 0 15px 0; }

/**
 * Gallery & images
 */
.wp-caption {
  background: #fff;
  border: thin solid #F0F0F0;
  max-width: 95%;
  padding: 5px 5px;
  text-align: center; }
  .wp-caption img {
    width: auto;
    max-width: 98.5%;
    height: auto;
    border: 0 none;
    padding: 0;
    margin: 0; }

.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0;
  padding: 0 5px 5px;
  font-size: 140%;
  line-height: 1.5; }

.post-edit-link {
  border: solid black thin;
  padding: 5px 8px;
  position: absolute;
  top: 30px;
  left: 100px;
  opacity: 0.4; }
  .post-edit-link:hover {
    opacity: 1; }
  .home .post-edit-link {
    border: solid white thin;
    color: white;
    right: 30px;
    left: auto; }

/**
 * partials/utils
 * ---
 * Utils classes
 */
.clear:before, .clear:after {
  content: " ";
  display: table; }
.clear:after {
  clear: both; }

.reset-box {
  padding: 0;
  margin: 0; }

/**
 * partials/layout
 * ---
 * Layout
 */
.wrapper {
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

main {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.container {
  max-width: 1170px;
  padding: 0 0;
  margin: 0 auto; }

.row {
  padding: 60px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }
  .row > * {
    margin-right: 30px; }
    .row > *:last-child {
      margin-right: 0; }

/* booking bar */
.booking {
  height: 110px;
  margin-top: -110px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65); }

/**
 * partials/header
 * ---
 */
.header {
  width: 100%;
  height: 100px; }
  .home .header {
    height: 800px; }
  .header .container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding-top: 20px; }
  .header .background-image {
    position: absolute;
    top: 0;
    z-index: -1;
    height: 800px;
    overflow: hidden; }
    .header .background-image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .header .background-image .intro-text {
      position: absolute;
      top: 50%;
      color: white;
      width: 100%;
      display: block;
      text-align: center;
      font-family: "Norwester", Helvetica, Arial, sans-serif;
      font-size: 50px;
      letter-spacing: 18px;
      line-height: 1.1; }
      .header .background-image .intro-text h2 {
        margin-bottom: 30px;
        margin-top: -80px; }
      .header .background-image .intro-text i {
        font-size: 56px; }
  .header:before {
    height: 370px;
    position: absolute;
    z-index: -1;
    width: 100%; }
    .header:before {
      background-color: #dcab25; }
    .page-id-16 .header:before {
      background-color: #ff7459; }
    .page-id-18 .header:before {
      background-color: #4de8b3; }
    .page-id-20 .header:before {
      background-color: #8ae3f1; }
  .header .nav {
    padding: 30px 0;
    font-size: 19px;
    font-weight: 100; }
    .home .header .nav a, .home .header .nav select, .home .header .nav .switcher:after {
      color: white; }
    .header .nav ul {
      padding: 0;
      margin: 0 30px 0 0;
      display: inline-block; }
    .header .nav li {
      list-style: none;
      display: inline-block;
      padding: 0 35px 0 0; }
  .header .social-menu {
    font-size: 11px; }
  .header .switcher {
    display: inline-block; }
    .header .switcher select {
      background: transparent;
      border: none;
      display: inline-block;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 60px; }
    .header .switcher .qtranxs_widget_end {
      display: none; }
    .header .switcher:after {
      font-family: 'edd-hostel';
      font-size: 20px;
      content: "c";
      display: inline-block;
      margin-left: -25px; }

.logo {
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  width: 300px;
  position: relative; }
  .no-svg .logo {
    background-image: url(../img/logo.png); }
    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
      .no-svg .logo {
        background-image: url(../img/logo@2x.png); } }
  .logo img {
    opacity: 0;
    width: 100%;
    height: 100%; }
  .home .logo {
    background-image: url(../img/logo-home.svg);
    height: 185px; }
    .no-svg .home .logo {
      background-image: url(../img/logo-home.png); }
      @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
        .no-svg .home .logo {
          background-image: url(../img/logo-home@2x.png); } }

/**
 * partials/content
 * ---
 */
/*  Basics */
h1, h1 .big, h2, h2 .big, h3, h3 .big, h4, h4 .big {
  font-family: "Norwester", Helvetica, Arial, sans-serif;
  letter-spacing: 18px;
  margin: 10px 0; }

.big {
  font-family: "Norwester", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  display: inline;
  line-height: 1;
  letter-spacing: 13px; }

.color {
  color: #d5a522; }
.page-id-16 .color {
  color: #ff6b4f; }
.page-id-18 .color {
  color: #44e7af; }
.page-id-20 .color {
  color: #81e1f0; }

.page-title {
  display: none; }

/* home */
.introduction .accroche {
  text-transform: uppercase;
  text-align: center;
  width: 370px;
  font-size: 24px; }
  .introduction .accroche i {
    margin-left: -18px; }
.introduction .texte {
  width: 770px;
  font-size: 33px; }
  .introduction .texte p {
    margin: 0; }

.pages-links {
  padding: 0;
  margin: 0;
  margin-left: -15px; }
  .pages-links li {
    list-style: none;
    margin-right: 0; }
    .pages-links li a {
      display: block;
      width: 400px;
      height: 370px;
      padding: 40px;
      text-align: center;
      font-size: 20px; }
      .pages-links li a {
        background-color: #dcab25; }
      .pages-links li.page-id-16 a {
        background-color: #ff7459; }
      .pages-links li.page-id-18 a {
        background-color: #4de8b3; }
      .pages-links li.page-id-20 a {
        background-color: #8ae3f1; }
      .pages-links li a p {
        line-height: 1.2; }
      .pages-links li a h3 {
        letter-spacing: 12px; }

/**
 * partials/footer
 * ---
 */
/**
 * partials/print
 * ---
 * Print version
 * (from https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css)
 */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=style.css.map */
