/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/**
 * modules/mixins
 * ---
 */
/* background-image */
/* flexbox */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/*
@font-face {
  font-family: "Font-Name";
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-name.woff") format("woff"),
    url("fonts/font-name.ttf") format("truetype"),
    url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/
@font-face {
  font-family: "Norwester";
  src: url("../fonts/norwester-webfont.eot");
  src: url("../fonts/norwester-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/norwester-webfont.woff") format("woff"), url("../fonts/norwester-webfont.ttf") format("truetype"), url("../fonts/norwester-webfont.svg#Norwester") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Robotoo";
  src: url("../fonts/RobotoCondensed-Regular-webfont.eot");
  src: url("../fonts/RobotoCondensed-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Regular-webfont.woff") format("woff"), url("../fonts/RobotoCondensed-Regular-webfont.ttf") format("truetype"), url("../fonts/RobotoCondensed-Regular-webfont.svg#Robotoo") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Robotoo";
  src: url("../fonts/RobotoCondensed-Italic-webfont.eot");
  src: url("../fonts/RobotoCondensed-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Italic-webfont.woff") format("woff"), url("../fonts/RobotoCondensed-Italic-webfont.ttf") format("truetype"), url("../fonts/RobotoCondensed-Italic-webfont.svg#Robotoo") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "Robotoo";
  src: url("../fonts/RobotoCondensed-Bold-webfont.eot");
  src: url("../fonts/RobotoCondensed-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Bold-webfont.woff") format("woff"), url("../fonts/RobotoCondensed-Bold-webfont.ttf") format("truetype"), url("../fonts/RobotoCondensed-Bold-webfont.svg#Robotoo") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Robotoo";
  src: url("../fonts/RobotoCondensed-BoldItalic-webfont.eot");
  src: url("../fonts/RobotoCondensed-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-BoldItalic-webfont.woff") format("woff"), url("../fonts/RobotoCondensed-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/RobotoCondensed-BoldItalic-webfont.svg#Robotoo") format("svg");
  font-weight: bold;
  font-style: italic; }
/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */
*,
*:after,
*:before {
  box-sizing: border-box; }

html {
  font-size: .625em;
  /* fallback IE8+ */
  font-size: calc(1em * .625);
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  -webkit-tap-highlight-color: transparent;
  height: 100%; }

body {
  font-family: "Robotoo", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  line-height: 1.4;
  color: #444;
  background-color: #fff;
  height: 100%;
  padding: 0;
  margin: 0; }

img {
  max-width: 100%;
  vertical-align: middle; }

a {
  color: #444;
  text-decoration: none; }

input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit; }

::selection {
  background-color: #04A4CC;
  color: #fff;
  text-shadow: none; }

/* reset special */
p:first-child {
  margin-top: 0; }

nav ul {
  padding: 0;
  margin: 0; }
nav li {
  list-style: none; }

/**
 * partials/wordpress
 * ---
 * Wordpess core classes
 */
/**
 * Alignment
 */
.alignnone {
  margin: 5px 0 15px 0; }

.aligncenter {
  display: block;
  margin: 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 15px 0; }

.alignleft {
  float: left;
  margin: 5px 0 15px 0; }

/**
 * Gallery & images
 */
.wp-caption {
  background: #fff;
  border: thin solid #F0F0F0;
  max-width: 95%;
  padding: 5px 5px;
  text-align: center; }
  .wp-caption img {
    width: auto;
    max-width: 98.5%;
    height: auto;
    border: 0 none;
    padding: 0;
    margin: 0; }

.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0;
  padding: 0 5px 5px;
  font-size: 1.8em;
  line-height: 1.4; }

.post-edit-link {
  position: absolute;
  top: 33px;
  left: 250px;
  font-size: 2rem; }
  .post-edit-link:hover {
    opacity: 1; }
  .home .header:not(.headroom) .post-edit-link {
    color: white; }

/**
 * partials/utils
 * ---
 * Utils classes
 */
.clear:before, .clear:after {
  content: " ";
  display: table; }
.clear:after {
  clear: both; }

.reset-box {
  padding: 0;
  margin: 0; }

/**
 * partials/layout
 * ---
 * Layout
 */
.wrapper {
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

main {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.container {
  max-width: 1170px;
  padding: 0 0;
  margin: 0 auto; }

.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  section.row {
    padding: 60px 0; }
  ul.row {
    padding: 0;
    margin: 0; }
    ul.row li {
      list-style: none; }
  .row.vcenter {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; }
  .row > * {
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    margin-right: 30px; }
    .row > *:last-child {
      margin-right: 0; }

article > section {
  margin-bottom: 30px; }
  article > section:last-child {
    margin-bottom: 0; }

/* booking bar */
.booking {
  height: 110px;
  margin-top: -110px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65); }

/**
 * partials/header
 * ---
 */
.header {
  position: relative;
  width: 100%;
  height: 115px; }
  .header {
    background-color: #dcab25; }
  .page-id-16 .header {
    background-color: #ff7459; }
  .page-id-18 .header {
    background-color: #4de8b3; }
  .page-id-20 .header {
    background-color: #8ae3f1; }
  .home .header:not(.headroom) {
    height: 800px;
    background-color: transparent; }
  .header .container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding-top: 15px; }
  .header .nav {
    padding: 30px 0;
    font-size: 1.9rem; }
    .home .header:not(.headroom) .nav a, .home .header:not(.headroom) .nav select, .home .header:not(.headroom) .nav .switcher:after {
      color: white; }
    .header .nav ul {
      padding: 0;
      margin: 0 30px 0 0;
      display: inline-block; }
    .header .nav li {
      list-style: none;
      display: inline-block;
      padding: 0 35px 0 0; }
  .header .social-menu {
    font-size: 1.1rem; }
  .header .switcher {
    display: inline-block; }
    .header .switcher select {
      background: transparent;
      border: none;
      display: inline-block;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 60px; }
    .header .switcher .qtranxs_widget_end {
      display: none; }
    .header .switcher:after {
      font-family: 'edd-hostel';
      font-size: 2rem;
      content: "c";
      display: inline-block;
      margin-left: -25px; }

.wrapper:before {
  height: 370px;
  position: absolute;
  z-index: -1;
  width: 100%;
  content: ''; }
  .wrapper:before {
    background-color: #dcab25; }
  .page-id-16 .wrapper:before {
    background-color: #ff7459; }
  .page-id-18 .wrapper:before {
    background-color: #4de8b3; }
  .page-id-20 .wrapper:before {
    background-color: #8ae3f1; }

.logo {
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  width: 300px;
  position: relative; }
  .no-svg .logo {
    background-image: url(../img/logo.png); }
    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
      .no-svg .logo {
        background-image: url(../img/logo@2x.png); } }
  .logo a:first-child {
    display: block;
    width: 100%;
    height: 100%; }
  .logo img {
    opacity: 0; }
  .home .header:not(.headroom) .logo {
    background-image: url(../img/logo-home.svg);
    background-repeat: no-repeat;
    height: 185px; }
    .no-svg .home .header:not(.headroom) .logo {
      background-image: url(../img/logo-home.png); }
      @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
        .no-svg .home .header:not(.headroom) .logo {
          background-image: url(../img/logo-home@2x.png); } }

/* headroom */
/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */
.headroom {
  position: fixed;
  top: 0;
  z-index: 20;
  will-change: transform;
  -webkit-transition: transform 200ms linear;
  -moz-transition: transform 200ms linear;
  -ms-transition: transform 200ms linear;
  -o-transition: transform 200ms linear;
  transition: transform 200ms linear;
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%); }

.headroom--pinned {
  -moz-transform: translateY(0%);
  -o-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -webkit-transform: translateY(0%);
  transform: translateY(0%); }

.headroom--unpinned, .headroom--top {
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%); }

/**
 * partials/content
 * ---
 */
/*  Basics */
h1, h1 .big, h2, h2 .big, h3, h3 .big, h4, h4 .big {
  font-family: "Norwester", Helvetica, Arial, sans-serif;
  letter-spacing: 1.8rem;
  margin: 10px 0;
  text-transform: uppercase; }

h3 {
  font-size: 2.6rem;
  letter-spacing: 1rem; }

h4 {
  font-size: 2.2rem;
  letter-spacing: 0.6rem; }

.button {
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  font-family: "Norwester", Helvetica, Arial, sans-serif;
  display: inline-block;
  padding: 4px 30px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.4rem; }
  .button {
    background-color: #dcab25; }
    .button:hover {
      background-color: #e3bc51; }
  .page-id-16 .button {
    background-color: #ff7459; }
    .page-id-16 .button:hover {
      background-color: #ff9f8c; }
  .page-id-18 .button {
    background-color: #4de8b3; }
    .page-id-18 .button:hover {
      background-color: #7aeec6; }
  .page-id-20 .button {
    background-color: #8ae3f1; }
    .page-id-20 .button:hover {
      background-color: #b8eef6; }
  .button.circle {
    width: 140px;
    height: 140px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    color: black;
    padding: 40px 0 0 5px; }
    .button.circle h2, .button.circle p {
      margin: 0; }
    .button.circle h2 {
      letter-spacing: 0.8rem; }

.big {
  font-family: "Norwester", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  display: inline;
  line-height: 1;
  letter-spacing: 1.3rem; }

.color {
  color: #d5a522; }
.page-id-16 .color {
  color: #ff6b4f; }
.page-id-18 .color {
  color: #44e7af; }
.page-id-20 .color {
  color: #81e1f0; }

.logo-color {
  height: 100%;
  background-position: center center;
  background-image: url(../img/logo-color.svg);
  background-repeat: no-repeat; }
  .no-svg .logo-color {
    background-image: url(../img/logo-color.png); }
    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
      .no-svg .logo-color {
        background-image: url(../img/logo-color@2x.png); } }
  .logo-color img {
    opacity: 0; }

/* title */
.page-title {
  display: none; }

.title {
  font-size: 2.6rem;
  text-transform: uppercase;
  margin-bottom: 30px; }
  .title {
    color: #d5a522; }
  .page-id-16 .title {
    color: #ff6b4f; }
  .page-id-18 .title {
    color: #44e7af; }
  .page-id-20 .title {
    color: #81e1f0; }
  .title h2 {
    font-family: "Robotoo", Helvetica, Arial, sans-serif;
    letter-spacing: initial;
    margin-top: 0; }

[class*="eddicon-"].bigger {
  color: #d5a522; }
.page-id-16 [class*="eddicon-"].bigger {
  color: #ff6b4f; }
.page-id-18 [class*="eddicon-"].bigger {
  color: #44e7af; }
.page-id-20 [class*="eddicon-"].bigger {
  color: #81e1f0; }

.big-icon {
  font-size: 16rem;
  line-height: 0; }
  .big-icon {
    color: #d5a522; }
  .page-id-16 .big-icon {
    color: #ff6b4f; }
  .page-id-18 .big-icon {
    color: #44e7af; }
  .page-id-20 .big-icon {
    color: #81e1f0; }

.map {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #f2f1e9; }
  .map .button {
    position: absolute;
    top: 30px;
    right: 30px; }

/* slideshow */
.slideshow {
  height: 550px;
  position: relative;
  overflow: hidden; }
  .slideshow header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: flex-end;
    background-color: white;
    width: 470px;
    height: 470px;
    overflow: hidden;
    position: relative;
    margin-top: 40px;
    z-index: 2;
    text-align: center; }
    .slideshow header p {
      margin: 0; }
    .slideshow header .miss {
      height: 160px;
      background-size: contain;
      margin: 20px 0 30px; }
    .slideshow header .detail {
      height: 160px;
      background-color: #f2f1e9; }
      .slideshow header .detail [class*="eddicon-"] {
        margin-top: -1rem;
        display: block;
        margin-bottom: 30px; }
      .slideshow header .detail p > i {
        opacity: 0.7; }
  .slideshow .slides {
    padding: 0;
    margin: 0;
    width: 870px;
    position: absolute;
    top: 0;
    left: 300px;
    height: 100%;
    z-index: 1; }
    .slideshow .slides li {
      list-style: none; }
    .slideshow .slides .slide {
      height: 100%;
      width: 100%; }
      .slideshow .slides .slide img {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
        height: 100%; }
        .slideshow .slides .slide img {
          background-color: #dcab25; }
        .page-id-16 .slideshow .slides .slide img {
          background-color: #ff7459; }
        .page-id-18 .slideshow .slides .slide img {
          background-color: #4de8b3; }
        .page-id-20 .slideshow .slides .slide img {
          background-color: #8ae3f1; }
      .slideshow .slides .slide .titre {
        position: absolute;
        width: 700px;
        height: 100%;
        top: 0;
        right: 0;
        padding: 30px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center; }
      .slideshow .slides .slide h3 {
        width: 100%;
        text-align: center;
        color: white;
        display: block;
        font-family: "Norwester", Helvetica, Arial, sans-serif;
        font-size: 6rem;
        letter-spacing: 18px;
        line-height: 1.1; }
    .slideshow .slides .slidr-breadcrumbs {
      padding: 0 20px 10px 0; }
      .slideshow .slides .slidr-breadcrumbs li {
        margin-left: 10px !important;
        border: none !important;
        background-color: white;
        width: 15px !important;
        height: 15px !important; }
        .slideshow .slides .slidr-breadcrumbs li.active {
          background-color: #dcab25; }
        .page-id-16 .slideshow .slides .slidr-breadcrumbs li.active {
          background-color: #ff7459; }
        .page-id-18 .slideshow .slides .slidr-breadcrumbs li.active {
          background-color: #4de8b3; }
        .page-id-20 .slideshow .slides .slidr-breadcrumbs li.active {
          background-color: #8ae3f1; }

/* accroche */
.accroche {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.6rem;
  width: 370px; }
  .accroche, .accroche p, .accroche h2 {
    font-family: "Norwester", Helvetica, Arial, sans-serif; }
  .accroche strong, .accroche b {
    color: #d5a522; }
  .page-id-16 .accroche strong, .page-id-16 .accroche b {
    color: #ff6b4f; }
  .page-id-18 .accroche strong, .page-id-18 .accroche b {
    color: #44e7af; }
  .page-id-20 .accroche strong, .page-id-20 .accroche b {
    color: #81e1f0; }

/* miss and mister */
.miss {
  width: 100%;
  height: 120px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center; }
  .miss.miss-id-18 {
    background-image: url(../img/around.svg);
    background-repeat: no-repeat; }
    .no-svg .miss.miss-id-18 {
      background-image: url(../img/around.png); }
      @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
        .no-svg .miss.miss-id-18 {
          background-image: url(../img/around@2x.png); } }
  .miss.miss-id-16 {
    background-image: url(../img/facilities.svg);
    background-repeat: no-repeat; }
    .no-svg .miss.miss-id-16 {
      background-image: url(../img/facilities.png); }
      @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
        .no-svg .miss.miss-id-16 {
          background-image: url(../img/facilities@2x.png); } }
  .miss.miss-id-20 {
    background-image: url(../img/howto.svg);
    background-repeat: no-repeat; }
    .no-svg .miss.miss-id-20 {
      background-image: url(../img/howto.png); }
      @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
        .no-svg .miss.miss-id-20 {
          background-image: url(../img/howto@2x.png); } }

/* map ling */
.get-to a {
  float: left;
  width: 60px;
  padding: 10px 10px 10px 0; }
  .get-to a {
    color: #d5a522; }
  .page-id-16 .get-to a {
    color: #ff6b4f; }
  .page-id-18 .get-to a {
    color: #44e7af; }
  .page-id-20 .get-to a {
    color: #81e1f0; }
  .get-to a [class*="eddicon-"] {
    font-size: 3rem; }

/* policies and faq */
.footer-informations {
  background-color: #7d7d7d;
  padding: 30px 0;
  margin-top: 60px; }
  .footer-informations, .footer-informations .title {
    color: white; }
  .footer-informations + footer, .footer-informations + .booking.bottom {
    margin-top: 0; }

.policies, .faq {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: decimal-leading-zero;
  padding: 0; }
  .policies li, .faq li {
    width: 570px;
    list-style-position: inside;
    padding: 10px 0;
    border-top: thin white solid; }
    .policies li p, .faq li p {
      display: inline; }
      .policies li p.answer, .faq li p.answer {
        color: #9f9f9f; }
    .policies li:nth-child(even), .faq li:nth-child(even) {
      margin-right: 0; }
    .policies li:last-child, .policies li:nth-last-child(2), .faq li:last-child, .faq li:nth-last-child(2) {
      border-bottom: thin white solid; }

/**
 * partials/pages
 * ---
 */
/* home */
.home .booking.bottom {
  display: none; }
  .home .booking.bottom + footer {
    margin-top: 60px; }

.background-image {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 800px;
  overflow: hidden; }
  .background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .background-image .intro-text {
    position: absolute;
    top: 50%;
    color: white;
    width: 100%;
    display: block;
    text-align: center;
    font-family: "Norwester", Helvetica, Arial, sans-serif;
    font-size: 5rem;
    letter-spacing: 18px;
    line-height: 1.1; }
    .background-image .intro-text h2 {
      margin-bottom: 30px;
      margin-top: -80px; }
    .background-image .intro-text i {
      font-size: 5.6rem; }

.introduction .accroche {
  width: 370px; }
  .introduction .accroche i {
    margin-left: -18px; }
.introduction .texte {
  width: 770px;
  font-size: 3.3rem; }
  .introduction .texte p {
    margin: 0; }

.pages-links {
  padding: 0;
  margin: 0;
  margin-left: -15px; }
  .pages-links li {
    list-style: none;
    margin-right: 0; }
    .pages-links li a {
      -webkit-transition: background-color 0.3s ease;
      -moz-transition: background-color 0.3s ease;
      -ms-transition: background-color 0.3s ease;
      -o-transition: background-color 0.3s ease;
      transition: background-color 0.3s ease;
      display: block;
      width: 400px;
      padding: 40px;
      text-align: center;
      font-size: 2rem; }
      .pages-links li a {
        background-color: #dcab25; }
        .pages-links li a:hover {
          background-color: #e3bc51; }
      .pages-links li.page-id-16 a {
        background-color: #ff7459; }
        .pages-links li.page-id-16 a:hover {
          background-color: #ff9f8c; }
      .pages-links li.page-id-18 a {
        background-color: #4de8b3; }
        .pages-links li.page-id-18 a:hover {
          background-color: #7aeec6; }
      .pages-links li.page-id-20 a {
        background-color: #8ae3f1; }
        .pages-links li.page-id-20 a:hover {
          background-color: #b8eef6; }
      .pages-links li a p {
        line-height: 1.2; }
      .pages-links li a h3 {
        letter-spacing: 12px; }

/* Hostel */
.history .accroche {
  width: 570px; }
.history .texte {
  width: 570px; }

.team ul {
  padding: 0;
  margin: 0; }
  .team ul li {
    list-style: none; }
.team .members {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
.team .member {
  padding-top: 30px;
  text-align: center;
  width: 270px; }
  .team .member h3 {
    letter-spacing: 0.4rem;
    font-size: 2.2rem;
    margin-bottom: 0; }
    .team .member h3 + p {
      margin-top: 0; }
  .team .member [class*='eddicon-'] {
    font-size: 1.2rem; }
  .team .member .avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }

/* Facilities */
.rooms .room {
  width: 270px;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }
  .rooms .room .detail {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-bottom: 20px; }
  .rooms .room img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    height: 190px;
    width: 100%;
    margin-bottom: 30px; }
  .rooms .room h3 {
    letter-spacing: 1rem; }
  .rooms .room p {
    padding-left: 10px;
    padding-right: 10px; }
  .rooms .room [class*="eddicon-"] {
    font-size: 1.4rem; }

.accomodation, .quick-links {
  width: 770px; }
  .accomodation div, .quick-links div, .accomodation > a, .quick-links > a {
    display: inline-block;
    float: left;
    width: 370px;
    height: 280px;
    background-color: #f2f1e9;
    border-right: thin solid white;
    padding: 40px;
    border-bottom: thin solid white;
    text-align: center; }
    .accomodation div img, .quick-links div img, .accomodation > a img, .quick-links > a img {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      height: 100%; }
  .accomodation > a, .quick-links > a {
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease; }
    .accomodation > a:hover, .quick-links > a:hover {
      background-color: #f6f5ef; }

/* around */
.stories .story {
  background-color: #f2f1e9;
  text-align: center; }
  .stories .story > div {
    width: 585px;
    margin-right: 0; }
  .stories .story p {
    text-align: left; }
  .stories .story .photo {
    height: 320px;
    position: relative; }
    .stories .story .photo:before {
      position: absolute;
      content: "";
      right: 0;
      top: 50%;
      margin-top: -10px;
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-right: 20px solid #f2f1e9; }
    .stories .story .photo img {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      height: 100%; }
  .stories .story:nth-child(even) {
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
    .stories .story:nth-child(even) .photo:before {
      border-left: 20px solid #f2f1e9;
      border-right: none;
      left: 0;
      right: auto; }
  .stories .story .detail {
    padding: 30px; }
    .stories .story .detail .eddicon-croix {
      font-size: 1.4rem; }
.stories .mixstory .photo:before {
  border-bottom: 20px solid #f2f1e9;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  border-top: none;
  left: 50%;
  right: auto;
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-left: -10px; }
.stories .accroche {
  width: 585px; }

/* how to */
.quick-links .photo {
  padding: 0; }

.parcours .type {
  width: 270px;
  text-align: center; }
  .parcours .type h3 {
    letter-spacing: 1rem; }
  .parcours .type p {
    padding-left: 10px;
    padding-right: 10px; }
  .parcours .type .eddicon-croix-big {
    font-size: 1.4rem; }
  .parcours .type > i {
    margin-top: -40px;
    display: block; }
.parcours .circles {
  width: 270px;
  text-align: center; }
.parcours .circle {
  padding-top: 45px; }

.location {
  height: 500px;
  overflow: hidden; }
  .location .map {
    width: 870px;
    margin: 0; }
    .location .map img {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      height: 100%; }
  .location .information {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 270px; }
    .location .information {
      background-color: #dcab25; }
    .page-id-16 .location .information {
      background-color: #ff7459; }
    .page-id-18 .location .information {
      background-color: #4de8b3; }
    .page-id-20 .location .information {
      background-color: #8ae3f1; }
    .location .information .logo-color {
      height: 270px;
      background-size: 70%;
      background-color: #f9f9f9; }
    .location .information .adress {
      padding: 30px; }
      .location .information .adress .get-to a {
        color: white; }

/**
 * partials/footer
 * ---
 */
.footer {
  background-color: black;
  color: #9f9f9f;
  padding: 30px 0 8px;
  font-size: 1.8rem; }
  .footer a {
    color: #9f9f9f;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease; }
    .footer a:hover, .footer a:focus {
      color: #b9b9b9; }
  .footer .logo {
    background-image: url(../img/logo-footer.svg);
    background-repeat: no-repeat;
    width: 170px;
    background-position: center top; }
    .no-svg .footer .logo {
      background-image: url(../img/logo-footer.png); }
      @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
        .no-svg .footer .logo {
          background-image: url(../img/logo-footer@2x.png); } }
  .footer .vcard {
    width: 270px; }
  .footer .quick-menu {
    width: 370px; }
    .footer .quick-menu ul {
      max-height: 160px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .footer .quick-menu li {
      width: 50%; }
      .footer .quick-menu li:nth-child(even) {
        margin-bottom: 20px; }
  .footer .social {
    width: 270px; }
    .footer .social .social-menu {
      margin-left: -10px;
      height: 100px; }
    .footer .social li {
      display: inline-block; }
      .footer .social li a {
        display: block;
        width: 40px;
        text-align: center;
        color: white;
        margin-right: 26px;
        opacity: 0.9; }
        .footer .social li a:hover {
          opacity: 1; }
    .footer .social .copyright {
      font-size: 1.1rem;
      opacity: 0.6; }

.booking.bottom {
  margin-top: 60px; }

/**
 * partials/print
 * ---
 * Print version
 * (from https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css)
 */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=style.css.map */
