/**
 * partials/content
 * ---
 */

/*  Basics */

h1, h2, h3, h4{
	&, & .big{
		font-family: $font-family-title;
		letter-spacing: 1.8rem;
		margin: $gutter 0;
	}
}

.big{
	font-family: $font-family-title;
	text-transform: uppercase;
	font-weight: bold;
	display: inline;
	line-height: 1;
	letter-spacing: 1.3rem;
}

.color{
  @include colors();
}

/* title */

.page-title{
	display: none;
}

.title{
	font-size: 2.6rem;
  text-transform: uppercase;
  @include colors();

  h2{
		font-family: $font-family-base;
  	letter-spacing: initial;
  	margin-top: 0;
  }
}

/* slideshow */

.slideshow{
	height: $slideshowHeight;
	widows: 100%;
}

/* accroche */

.accroche{
	text-transform: uppercase;
	text-align: center;
	font-size: 2.6rem;

	&,p,h2{
		font-family: $font-family-title;
	}

	strong, b{
		@include colors();
	}
}

/* miss and mister */

.miss{
	width: 100%;
	height: 120px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;

	&.miss-id-18{
		@include background-image('around');
	}
	&.miss-id-16{
		@include background-image('facilities');
	}
	&.miss-id-20{
		@include background-image('howto');
	}
}