/**
 * partials/content
 * ---
 */

/*  Basics */

h1, h2, h3, h4{
	&, & .big{
		font-family: $font-family-title;
		letter-spacing: 1.8rem;
		margin: $gutter 0;
	}
}

.big{
	font-family: $font-family-title;
	text-transform: uppercase;
	font-weight: bold;
	display: inline;
	line-height: 1;
	letter-spacing: 1.3rem;
}

.color{
  @include colors();
}

.page-title{
	display: none;
}

/* home */

.introduction{

	.accroche{
		text-transform: uppercase;
		text-align: center;
		width: span(4);
		font-size: 2.4rem;

		i{
			margin-left: -18px;
		}
	}

	.texte{
		width: span(8);
		font-size: 3.3rem;
			
		p{
			margin: 0;
		}
	}
}

.pages-links{
	@include reset-box();
	margin-left: -15px;

	li{
		list-style: none;
		margin-right: 0;
		$this: &;	

		a{
			@include bg-colors($this, 'a', true);
			display: block;
			width: span(4 wide);
			padding: 40px;
			text-align: center;
			font-size: 2rem;

			p{
				line-height: 1.2;
			}

			h3{
				letter-spacing: 12px;
			}
		}
	}
}

.miss{
	width: 100%;
	height: 120px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;

	&.miss-id-18{
		@include background-image('around');
	}
	&.miss-id-16{
		@include background-image('facilities');
	}
	&.miss-id-20{
		@include background-image('howto');
	}
}

