/**
 * partials/footer
 * ---
 */

.footer {
	background-color: $dark;
	color: $grey;
	padding: $gap 0 8px;
	font-size: 1.8rem;
	overflow: hidden;
	width: 100%;

	a{
		color: $grey;
    @include transition(color .3s ease);

		&:hover, &:focus{
			@include colors();
			//color: lighten($grey, 10%);
		}
	}

	.detail{
		width: span(5);
		@include flex-direction(row);
    @include flex-wrap( nowrap);
	}
	
	.logo{
		@include background-image('logo-footer');
		width: span(2);
		background-position: center top;
	}

	.vcard{
		width: span(3);
	}

	.quick-menu{
		width: span(4);

		ul{
			max-height: 160px;
			@include flexbox();
			@include flex-direction(column);
			@include flex-wrap(wrap);
		}

		li{
			width: 50%;

			&:nth-child(even){
				margin-bottom: 20px;
			}
		}
	}
	
	.social{
		width: span(3);

		.social-menu{
			margin-left: -10px;
			height: 100px;
		}

		li{
			display: inline-block;
			a{
				display: block;
				width: 40px;
				text-align: center;
				margin-right: 26px;
				opacity: 0.9;
			}
		}

		.copyright{
			font-size: 1.1rem;
			opacity: 0.6;
		}
	}

}


/* booking bar */

.booking{
	position: relative;
	height: $bookingHeight;
	margin-top: - $bookingHeight;
	width: 100%;
	background-color: rgba(black, 0.65);
	margin-top: 60px;
	overflow: hidden;
	z-index: 30;
	.container{
		position: relative;
		height: 100%;
	}

	a.book{
		position: absolute;
		left: span(8);
		top: 0;
		height: 100%;
		width: span(2);
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);
	}

	&.topbar--top{
		height: $bookingHeight;
		position: fixed;
		bottom: -1px;
	}
}