/**
 * partials/header
 * ---
 */

// Header container
.header {
	position: relative;
	// z-index: 30;
	width: 100%;
	height: $headerHeight;
	@include bg-colors();

	.home &:not(.headroom){
		height: $homeHeight;
		background-color: transparent;
	}

	.container{
		@include flexbox();
		padding-top: $gutterMedium;
	}
	
	.nav{
		padding: $horizontalGap 0;
		font-size: 1.9rem;

		@at-root .home .header:not(.headroom) .nav{
			a, select, .switcher:after{
				color: white;
			}
		}

		ul{
			padding: 0;
			margin: 0 $horizontalGap 0 0;
			display: inline-block;
		}

		li{
			list-style: none;
			display: inline-block;
			padding: 0 35px 0 0;
		}
	}

	.social-menu{
		font-size: 1.1rem;
	}

	.switcher{
		display: inline-block;

		select{
	  	background: transparent;
    	border: none;
    	display: inline-block;
    	@include x-appearance(none);
    	width: 60px;
		}

		.qtranxs_widget_end{
			display: none;
		}

  	&:after{
  		@include icon('c');
  		margin-left: -25px;
  	}
	}
}

// color header background
.wrapper:before{
	@include bg-colors();
	height: $headerBackgroundHeight;
	position: absolute;
	z-index: -1;
	width: 100%;
	content: '';
}

// Logo
.logo {
	@include background-image('logo');
	background-repeat: no-repeat;
	width: span(3 wide);
	position: relative;
	
	a:first-child{
		display: block;
		width: 100%;
		height: 100%;
	}

	img{
		opacity: 0;
	}

	.home .header:not(.headroom) &{
		@include background-image('logo-home');
		height: 185px;
	}
}

/* headroom */

/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */

.headroom{
	position: fixed;
	top: 0;
	z-index: 20;
	will-change: transform;
	@include transition(transform 200ms linear);
	@include transform(translateY(-100%));
}

.headroom--pinned {
  @include transform(translateY(0%));
}

.headroom--unpinned, .headroom--top {
  @include transform(translateY(-100%));
}