/**
 * partials/pages
 * ---
 */

/* home */

.home .booking.bottom{
	display: none;

	& + footer{
		margin-top: 60px;
	}
}

//home image background
.background-image{
	position: absolute;
	top: 0;
  z-index: -1;
	height: $homeHeight;
	overflow: hidden;

	img{
		width: 100%;
		height: 100%;
	  object-fit: cover;
	}

	.intro-text{
		position: absolute;
		top: 50%;
		color: white;
		width: 100%;
		display: block;
		text-align: center;
		font-family: $font-family-title;
		font-size: 5rem;
		letter-spacing: 18px;
		line-height: 1.1;
		padding: 0 $gap;

		h2{
			margin-bottom: $gap;
			margin-top: -80px;
		}

		i{
			font-size: 1.5em;
		}
	}
}

.introduction{

	.accroche{
		width: span(4);

		i{
			margin-left: -18px;
		}
	}

	.texte{
		width: span(8);
		font-size: 3.3rem;
			
		p{
			margin: 0;
		}
	}
}

.pages-links{
	@include reset-box();
	margin-left: -15px;

	li{
		list-style: none;
		margin-right: 0;
		$this: &;	
		width: span(4 wide);

		a{
			@include bg-colors($this, 'a', true);
			display: block;
			padding: 40px;
			text-align: center;
			font-size: 2rem;
			height: 100%;
			p{
				line-height: 1.2;
			}

			h3{
				letter-spacing: 12px;
			}
		}
	}
}

/* Hostel */

.history{
	.accroche{
		width: span(6);
	}
	.texte{
		width: span(6);
	}
}

.team{

	ul{
		@include reset-box-ul;
	}
	.members{
		@include flexbox();
	}

	.member{
		padding-top: $gap;
		text-align: center;
		width: span(3);

		h3{
			letter-spacing: 0.4rem;
			font-size: 2.2rem;
			margin-bottom: 0;

			+ p{
				margin-top: 0;
			}
		}

		[class*='eddicon-']{
			font-size: 1.2rem;
		}

		.avatar{
			@include border-radius(50%);
		}
	}
}

/* Facilities */

.rooms{
	.room{
		width: span(3);
		text-align: center;
		@include flexbox();
		@include flex-direction(column);
		@include align-items(center);

		.detail{
			@include flex(1);
			padding-bottom: $gutterLarge;
		}

		img{
			@include object-fit(cover);
			height: 190px;
			width: 100%;
			margin-bottom: $gap;
		}

		h3{
			letter-spacing: 1rem;
		}

		p{
			padding-left: $gutter;
			padding-right: $gutter;
		}

		[class*="eddicon-"]{
			font-size: 1.4rem;
		}

	}
}

.accomodation{
	width: span(8);
	// margin-left: - $gap;

	div, > a{
		display: inline-block;
		float: left;
		width: 50%;
		height: 280px;
		background-color: $lightGrey;
		border-right: thin solid white;
		padding: 40px;
		border-bottom: thin solid white;
		text-align: center;

		img{
			@include object-fit(cover);
		}
	}

	> a{
		@include transition(background-color .3s ease);
		&:hover{
			background-color: lighten($lightGrey, 2%);
		}
	}
}

/* around */

.stories{

	.story{
		background-color: $lightGrey;
		text-align: center;

		> div{
			width: $halfWidth;
			margin-right: 0;
		}

		p{
			text-align: left;
		}

		.photo{
			height: 320px;
			position: relative;
			
			&:before{
				position: absolute;
				content: "";
				right: 0;
				top: 50%;
				margin-top: -10px;
			  width: 0; 
			  height: 0; 
			  border-top: 20px solid transparent;
			  border-bottom: 20px solid transparent;
			  border-right: 20px solid $lightGrey;
			}

			img{
				@include object-fit(cover);

			}
		}

		&:nth-child(even){
			@include flex-direction(row-reverse);
			.photo:before{
			  border-left: 20px solid $lightGrey;
			  border-right: none;
			  left: 0;
			  right: auto;
			}
		}

		.detail{
			padding: $gap;

			.eddicon-croix{
				font-size: 1.4rem;
			}
		}
	}

	.mixstory{
		.photo:before{
			border-bottom: 20px solid $lightGrey;
			border-right: 20px solid transparent;
		  border-left: 20px solid transparent;
		  border-top: none;
		  left: 50%;
		  right: auto;
		  top: auto;
		  bottom: 0;
		  margin-top: 0;
		  margin-left: -10px;
		}
	}

	.accroche{
		width: $halfWidth;
	}
}

/* how to */

.quick-links{
	@extend .accomodation;

	.photo{
		padding: 0;
	}
}

.parcours{

	.type{
		width: span(3);
		text-align: center;

		h3{
			letter-spacing: 1rem;
		}

		p{
			padding-left: $gutter;
			padding-right: $gutter;
		}

		.eddicon-croix-big{
			font-size: 1.4rem;
		}

		>i{
			margin-top: -40px;
			display: block;
		}

	}

	.circles{
		width: span(3);
		text-align: center;
	}

	.circle{
		padding-top: 45px;
	}
}

.location{

	height: $mapHeight;
	overflow: hidden;

	.map{
		width: span(9);

		margin: 0;

		img{
			@include object-fit(cover);
		}
	}

	.information{
		@include flexbox();
		@include flex-direction(column);

		width: span(3);
		@include bg-colors();

		.logo-color{
			height: 270px;
    	background-size: 70%;
			background-color: $lighterGrey;
		}

		.adress{
			padding: $gap;

			.get-to a{
				color: white;
			}
		}
	}
}

/* blog */

.main-tags{
	@include reset-box-ul();
	
	li{
		display: inline-block;
		text-transform: uppercase;

		&:after{
			content: ' / ';
			padding: 0 $gutter;
		}

		&:last-child:after{
			display: none;
		}
	}
}

.category-full-day-trip{
	.main-tags:after{
		float: right;
		@include icon('r');
	}
}

.category-12-day-trip{
	.main-tags:after{
		float: right;
		@include icon('s');
	}
}

.category-very-favorite{
	.main-tags:after{
		float: right;
		@include icon('q');
	}
}

.blog .slideshow{
	h2{
		letter-spacing: 1rem;
	}

	header{
		@include justify-content(space-between);
		padding-top: $gap;
		>p{
			text-transform: uppercase;
			span:after{
				content: ' | ';
				padding: 0 $gutter;
			}
			span:last-child:after{
				display: none;
			}
		}
	}

	.detail{
		padding: $gap 40px;
		text-align: left;

		a{
			display: block;
			width: 100%;
			text-align: right;
			text-transform: uppercase;
			padding-top: $gutter;
			font-weight: bold;

			&:after{
				content: ' >';
			}
		}
	}
}

.categories{
	margin-top: 60px;

	.row{
		@include justify-content(center);
	}

	li[class*='cat-item']{
		margin-right: $gap;

		&:after{
			content: '';
			width: 100%;
			height: 2px;
			color: transparent;
			display: block;
		}

		&:last-child{
			margin-right: 0;
		}
	}

	.current-cat, .cat-item-all, li[class*='cat-item']:hover{
		&:after{
			@include bg-colors();

			@at-root .category .cat-item-all:after{
				display: none; // hide category all if one selected
			}
		}
	}
	
	.cat-item-15 a{ /* 16 et 17*/
		&:before{
			@include icon('s');
		}
	}

	.cat-item-16 a{ /* 16 et 17*/
		&:before{
			@include icon('r');
		}
	}

	.cat-item-17 a{ /* 16 et 17*/
		&:before{
			@include icon('q');
		}
	}

	li[class*='cat-item']{
		a:before{
			line-height: 0;
			padding-right: $gutter;
			display: inline-block;
	    vertical-align: middle;
	    font-size: 2.6rem;
		}
	}
}

.articles{
	width: span(9);
	@include flex-wrap(wrap);

	article{
		width: span(3);
		@include flexbox();
		@include flex-direction(column);
		background-color: $lighterGrey;
		margin-bottom: $gap;

		&:nth-child(3n) {
			margin-right: 0;
		}

		img{
			@include object-fit(cover);
			height: 145px;
		}

		.content{
			@include flex(1);
			@include flexbox();
			@include flex-direction(column);
			padding: $gutterLarge;

			h4{
				@include flex(1);
			}
		}
	}

	.pagination{
		width: 100%;
		text-align: right;
		margin-top: $gap;

		.page-numbers{
			display: inline-block;
			padding: 5px $gutterLarge 0 0;

			&.current{
				@include colors();
			}
		}
	}
}

.entry-meta{
	span{
		display: inline;
		text-transform: uppercase;

		&:after{
			content: ' | ';
			padding: 0 $gutter;
		}

		&:last-child:after{
			display: none;
		}
	}
}

/* single post */

.single{

	.slideshow{
		.slides{
			width: 100%;
			left: 0;
		}
	}

	.main-tags:after{
		display: none;
	}

	.post{
		width: span(8);

		.single-header{
			text-align: center;
			margin: 40px 0;

			h1{
				letter-spacing: 1rem;
				margin: $gap 0;
			}
		}

		img{
			@include object-fit(cover);
			height: auto;
		}
	}

	.interact{
		margin-top: $gap;
		>a > i{
			font-size: 2.6rem;
	    vertical-align: middle;
		}
	}

	.ssba-wrap{
		display: none;
	}

	.social .ssba-wrap{
		display: block;
	}
}