/**
 * partials/pages
 * ---
 */

/* home */

//home image background
.background-image{
	position: absolute;
	top: 0;
  z-index: -1;
	height: $homeHeight;
	overflow: hidden;

	img{
		width: 100%;
		height: 100%;
	  object-fit: cover;
	}

	.intro-text{
		position: absolute;
		top: 50%;
		color: white;
		width: 100%;
		display: block;
		text-align: center;
		font-family: $font-family-title;
		font-size: 5rem;
		letter-spacing: 18px;
		line-height: 1.1;

		h2{
			margin-bottom: $gap;
			margin-top: -80px;
		}

		i{
			font-size: 5.6rem;
		}
	}
}

.introduction{

	.accroche{
		width: span(4);

		i{
			margin-left: -18px;
		}
	}

	.texte{
		width: span(8);
		font-size: 3.3rem;
			
		p{
			margin: 0;
		}
	}
}

.pages-links{
	@include reset-box();
	margin-left: -15px;

	li{
		list-style: none;
		margin-right: 0;
		$this: &;	

		a{
			@include bg-colors($this, 'a', true);
			display: block;
			width: span(4 wide);
			padding: 40px;
			text-align: center;
			font-size: 2rem;

			p{
				line-height: 1.2;
			}

			h3{
				letter-spacing: 12px;
			}
		}
	}
}

/* Hostel */

.history{
	.accroche{
		width: span(6);
	}
	.texte{
		width: span(6);
	}
}

.team{

	ul{
		@include reset-box-ul;
	}
	.members{
		@include flexbox();
	}

	.member{
		padding-top: $gap;
		text-align: center;
		width: span(3);

		h3{
			letter-spacing: 0.4rem;
			font-size: 2.2rem;
			margin-bottom: 0;

			+ p{
				margin-top: 0;
			}
		}

		[class*='eddicon-']{
			font-size: 1.2rem;
		}

		.avatar{
			@include border-radius(50%);
		}
	}
}

/* Facilities */

.rooms{
	.room{
		width: span(3);
		text-align: center;
		@include flexbox();
		@include flex-direction(column);
		@include align-items(center);

		.detail{
			@include flex(1);
			padding-bottom: $gutterLarge;
		}

		img{
			@include object-fit(cover);
			height: 190px;
			width: 100%;
			margin-bottom: $gap;
		}

		h3{
			letter-spacing: 1rem;
		}

		p{
			padding-left: $gutter;
			padding-right: $gutter;
		}

		[class*="eddicon-"]{
			font-size: 1.4rem;
		}

	}
}

.accomodation{
	width: span(8 wide);
	margin-left: - $gap;

	div, > a{
		display: inline-block;
		float: left;
		width: span(4);
		height: 280px;
		background-color: $lightGrey;
		border-right: thin solid white;
		padding: 40px;
		border-bottom: thin solid white;
		text-align: center;

		img{
			@include object-fit(cover);
		}
	}

	> a{
		@include transition(background-color .3s ease);
		&:hover{
			background-color: lighten($lightGrey, 2%);
		}
	}
}

/* around */

.map{
	position: relative;
	.button{
		position: absolute;
    top: 30px;
    right: 30px;
	}
}

.stories{

	.story{
		background-color: $lightGrey;
		text-align: center;

		> div{
			width: $halfWidth;
			margin-right: 0;
		}

		p{
			text-align: left;
		}

		.photo{
			height: 320px;
			position: relative;
			
			&:before{
				position: absolute;
				content: "";
				right: 0;
				top: 50%;
				margin-top: -10px;
			  width: 0; 
			  height: 0; 
			  border-top: 20px solid transparent;
			  border-bottom: 20px solid transparent;
			  border-right: 20px solid $lightGrey;
			}

			img{
				@include object-fit(cover);

			}
		}

		&:nth-child(even){
			@include flex-direction(row-reverse);
			.photo:before{
			  border-left: 20px solid $lightGrey;
			  border-right: none;
			  left: 0;
			  right: auto;
			}
		}

		.detail{
			padding: $gap;

			.eddicon-croix{
				font-size: 1.4rem;
			}
		}
	}

	.mixstory{
		.photo:before{
			border-bottom: 20px solid $lightGrey;
			border-right: 20px solid transparent;
		  border-left: 20px solid transparent;
		  border-top: none;
		  left: 50%;
		  right: auto;
		  top: auto;
		  bottom: 0;
		  margin-top: 0;
		  margin-left: -10px;
		}
	}

	.accroche{
		width: $halfWidth;
	}
}

/* how to */

.quick-links{
	@extend .accomodation;

	.photo{
		padding: 0;
	}
}

.parcours{

	.type{
		width: span(3);
		text-align: center;

		h3{
			letter-spacing: 1rem;
		}

		p{
			padding-left: $gutter;
			padding-right: $gutter;
		}

		.eddicon-croix-big{
			font-size: 1.4rem;
		}

		>i{
			margin-top: -40px;
			display: block;
		}

	}

	.circle{
		padding-top: 45px;
	}
}

.location{

	height: 550px;
	overflow: hidden;

	.map{
		width: span(9);
		height: 100%;

		margin: 0;

		img{
			@include object-fit(cover);
		}
	}

	.information{
		@include flexbox();
		@include flex-direction(column);

		width: span(3);
		@include bg-colors();

		.logo-color{
			height: 270px;
    	background-size: 70%;
			background-color: $lighterGrey;
		}

		.adress{
			padding: 50px $gap;

			.get-to a{
				color: white;
			}
		}
	}
}