/**
 * partials/wrapper
 * ---
 */


.wrapper {
  position: relative;
  height: 100%;
	@include flexbox();
	@include flex-direction(column);
}

main{
	@include flex(1);
}

.container{
	max-width: $wrapper-width;
  padding: 0 $margin-horizontal-large;
  margin: 0 auto;
}