/**
 * modules/fonts
 * ---
 * Declare fonts here
 */

@include font-face-bb('edd-hostel', '../fonts/edd-hostel', normal);

@include font-face-bb('Norwester', '../fonts/norwester-webfont', normal);

@include font-face-bb('Robotoo', '../fonts/RobotoCondensed-Regular-webfont', normal);
@include font-face-bb('Robotoo', '../fonts/RobotoCondensed-Italic-webfont', normal, italic);
@include font-face-bb('Robotoo', '../fonts/RobotoCondensed-Bold-webfont', bold);
@include font-face-bb('Robotoo', '../fonts/RobotoCondensed-BoldItalic-webfont', bold, italic);

/* icons */

[class^="eddicon-"]:before,
[class*=" eddicon-"]:before {
  font-family: "edd-hostel" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.eddicon-line:before {
  content: "\61";
}
.eddicon-croix:before {
  content: "\62";
}
.eddicon-croix-big:before {
  content: "\64";
}
.eddicon-bike:before {
  content: "\65";
}
.eddicon-wifi:before {
  content: "\67";
}
.eddicon-coffee:before {
  content: "\66";
}
.eddicon-laundry:before {
  content: "\68";
}
.eddicon-link:before {
  content: "\69";
}
.eddicon-map:before {
  content: "\6a";
}
.eddicon-blog:before {
  content: "\6c";
}
.eddicon-agenda:before {
  content: "\6b";
}
.eddicon-others:before {
  content: "\6d";
}
.eddicon-plane:before {
  content: "\6e";
}
.eddicon-train:before {
  content: "\6f";
}
.eddicon-reply:before {
  content: "\70";
}
.eddicon-arrow:before {
  content: "\63";
}
.eddicon-love:before {
  content: "\71";
}
.eddicon-full:before {
  content: "\72";
}
.eddicon-demi:before {
  content: "\73";
}
.eddicon-comment:before {
  content: "\74";
}
.eddicon-search:before {
  content: "\75";
}
.eddicon-close:before {
  content: "\77";
}
.eddicon-bars:before {
  content: "\76";
}
.eddicon-calendar:before {
  content: "\78";
}
.eddicon-booked:before {
  content: "\79";
}