/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: "Roboto", Helvetica, Arial, "Open Sans", sans-serif;
$font-size-base: 140%;
$line-height-base: 1.5;


/**
 * Colors
 */

$text-color: #444;
$body-bg: #fff;
$selection-bg: #04A4CC;

$hostelColor: #d4a012;
$facilitiesColor: #ff7459;
$aroundColor: #4de8b3;
$howtoColor: #8ae3f1;


/**
 * Grid
 */

$wrapper-width: 1170px;
$headerBackgroundHeight: 370px;

$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 0;
$margin-vertical-large: 15px;

// default settings

$gap: 30px;
$horizontalGap: 30px;

$gutter: 10px;
$gutterMedium: $gutter * 1.5;
$gutterLarge: $gutter * 2;